---
import itemsData from "../../assets/products/categoryProducts.json";
import GridItem from "../GridItemV2.astro";
---

<section class="lg:px-8">
  <div class="w-fit group">
    <h2 class="text-2xl flex gap-2">Zobacz również</h2>
  </div>
  <div
    class="hideScroll grid grid-flow-col overflow-x-scroll snap-x snap-mandatory snap-always gap-4 text-sm font-normal text-center w-full px-2 py-6"
  >
    {itemsData[0].items.map((item) => <GridItem {item} horizontal={true} />)}
  </div>
</section>

<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hideScroll::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hideScroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
