---

---

<div class="h-[130vh] z-40 md:z-20 border-t-4 md:border-t-0 border-b-4 md:border-b-0 border-yellow-300">
  <section class="sticky top-0 h-screen flex flex-col items-end">
    <div class="h-fit md:pt-24 w-full md:max-w-[40%] bg-white md:bg-inherit sticky top-0 md:top-16 z-10 md:z-10">
      <div class="p-3 md:px-5 text-center md:text-right relative">
        <div
          class="hidden md:block absolute w-full h-full bg-white/70 backdrop-blur-md md:backdrop-blur-md -z-10 md:-mx-5"
        >
        </div>
        <h2 class="text-4xl lg:text-5xl font-bold text-yellow-300 md:pr-4 md:mb-8 md:border-r-8 border-yellow-300">
          Stwórz swój letni energetyzujący makijaż!...
        </h2>
        <!-- <div class="hidden md:block border border-yellow-300 my-4"></div> -->
        <a
          class="hidden md:inline text-xl cursor-pointer hover:border-b-4 border-yellow-300 transition-[border] whitespace-nowrap font-semibold"
          >Zobacz najnowszą kolekcję &rsaquo;</a
        >
      </div>
    </div>
    <button
      class="bg-white rounded-md overflow-hidden sticky top-[85%] mx-auto my-auto mb-10 md:hidden text-xl cursor-pointer border-b-4 border-yellow-300 transition-[border] whitespace-nowrap"
    >
      <!-- <div class="absolute w-full h-full bg-white/50 backdrop-blur-3xl md:backdrop-blur-md -z-10"></div> -->
      <div class="p-4 sm:px-8 font-semibold"><a class="">Zobacz najnowszą kolekcję &rsaquo;</a></div>
    </button>
  </section>
</div>

<!-- <p class="">
  Ciepłe, słoneczne dni to idealny czas na odważne, nasycone barwy na powiekach, ustach oraz paznokciach. W
  makijażu stawiasz na kolorystyczny akcent, a może odważnie sięgasz po soczyste kolory w wersji total look?
  Poznaj nową, limitowaną kolekcję INGLOT PLAYINN SUMMER COLLECTION, która idealnie wpisuje się w letni
  vibe.Podkreśl powieki OŁÓWKIEM DO OCZU RAINBOW STICK INGLOT PLAYINN i stwórz najmodniejszy letni look.
</p> -->
<!-- <button>Czytaj więcej</button> -->
